@keyframes slideDownFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slideDownAnimation {
  animation-name: slideDownFromTop;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  animation-fill-mode: both;
}

.fadeInAnimation {
  animation: fadeIn 0.3s ease-out forwards;
}
