@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Indie+Flower&display=swap');
@import 'tailwindcss';

.font-pirate {
  font-family: 'Pirata One', cursive;
  letter-spacing: 0.05em;
}

.font-indie {
  font-family: 'Indie Flower', sans-serif;
}
