@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Aladin&family=Bree+Serif&family=Indie+Flower&display=swap');
@import 'tailwindcss';

:root {
  --scrollbar-color: #e9830e;
  --scrollbar-color-hover: #c75b02;
  --scrollbar-bg: #f5f5f4;
}

/*  FONTS */

.font-pirate {
  font-family: 'Pirata One', cursive;
  letter-spacing: 0.05em;
}

.font-indie {
  font-family: 'Indie Flower', cursive;
}

.font-bree {
  font-family: 'Bree Serif', serif;
  font-weight: 400;
  font-style: normal;
}

.font-aladin {
  font-family: 'Aladin', system-ui;
  font-weight: 400;
  font-style: normal;
}

/*  ANIMATIONS  */

@keyframes float-up {
  0% {
    transform: translate(-50%, 0) scale(0.8);
    opacity: 0;
  }
  20% {
    transform: translate(-50%, -10px) scale(1.1);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -30px) scale(1);
    opacity: 0;
  }
}

.animate-float-up {
  animation: float-up 1.5s ease-out forwards;
}

/*  OTHER  */

.text-shadow-black {
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000;
}

.glassPanel {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.2) 100%);
  backdrop-filter: blur(2px);
  --webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(14, 165, 233, 0.25);
  border-radius: 16px;
}

.glassPanel--blur-lg {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.2) 100%);
  backdrop-filter: blur(5px);
  --webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(14, 165, 233, 0.25);
  border-radius: 16px;
}

/*  SCROLLBAR  */

.endModal {
  --scrollbar-bg: #3d1900;
}

.scrollbar-pirate {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg);
}

.scrollbar-pirate::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.scrollbar-pirate::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
  border-radius: 1px;
}

.scrollbar-pirate::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
}

.scrollbar-pirate::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-color-hover);
}
