@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Bree+Serif&family=Indie+Flower&display=swap');
@import 'tailwindcss';

.font-pirate {
  font-family: 'Pirata One', cursive;
  letter-spacing: 0.05em;
}

.font-indie {
  font-family: 'Indie Flower', cursive;
}

.font-bree {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.scrollbar-pirate {
  scrollbar-width: thin;
  scrollbar-color: #b45309 #451a03;
}

.scrollbar-pirate::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-pirate::-webkit-scrollbar-track {
  background: #451a03;
  border-radius: 4px;
}

.scrollbar-pirate::-webkit-scrollbar-thumb {
  background-color: #b45309;
  border-radius: 10px;
  border: 2px solid #451a03;
}

.scrollbar-pirate::-webkit-scrollbar-thumb:hover {
  background-color: #d97706;
}
