@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Bree+Serif&family=Indie+Flower&display=swap');
@import 'tailwindcss';

.font-pirate {
  font-family: 'Pirata One', cursive;
  letter-spacing: 0.05em;
}

.font-indie {
  font-family: 'Indie Flower', cursive;
}

.font-bree {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.glassPanel {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(14, 165, 233, 0.25);
  border-radius: 16px;
}

.glassPanel--big-blur {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(14, 165, 233, 0.25);
  border-radius: 16px;
}


.scrollbar-pirate {
  scrollbar-width: thin;
  scrollbar-color: #0ea5e9 #f5f5f4;
}

.scrollbar-pirate::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar-pirate::-webkit-scrollbar-track {
  background: #f5f5f4;
  border-radius: 2px;
}

.scrollbar-pirate::-webkit-scrollbar-thumb {
  background-color: #0ea5e9;
  border-radius: 10px;
}

.scrollbar-pirate::-webkit-scrollbar-thumb:hover {
  background-color: #0284c7;
}
