@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Bree+Serif&family=Indie+Flower&display=swap');
@import 'tailwindcss';

:root {
  --scrollbar-color: #e9830e;
  --scrollbar-color-hover: #c75b02;
}

.endModal {
  --scrollbar-color: #0eb6e9;
  --scrollbar-color-hover: #027bc7;
}

.font-pirate {
  font-family: 'Pirata One', cursive;
  letter-spacing: 0.05em;
}

.font-indie {
  font-family: 'Indie Flower', cursive;
}

.font-bree {
  font-family: 'Bree Serif', serif;
  font-weight: 400;
  font-style: normal;
}

.glassPanel {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.2) 100%);
  backdrop-filter: blur(2px);
  --webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(14, 165, 233, 0.25);
  border-radius: 16px;
}

.glassPanel--blur-lg {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.2) 100%);
  backdrop-filter: blur(5px);
  --webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(14, 165, 233, 0.25);
  border-radius: 16px;
}

.scrollbar-pirate {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) #f5f5f4;
}

.scrollbar-pirate::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.scrollbar-pirate::-webkit-scrollbar-track {
  background: #f5f5f4;
  border-radius: 1px;
}

.scrollbar-pirate::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
}

.scrollbar-pirate::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-color-hover);
}
